
.custom-modal{
    margin: 0 auto;
    width: 50%;
    align-items: center;
}
.editor{
    border-radius: 10px;
}
.no-data{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.join{
    display: flex;
    justify-content: center;
}
.more-option{
    display: flex;
    justify-content: flex-end;
}
.todo-from{
    margin-left: 10px;
}
.excel{
    margin-right: 10px;
}